.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: #0582ca; /* Original color */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000; /* Original color */
}

.dashboard-menu-btn {
  position: fixed;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1000;
}
