.home-container {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  margin-top: 20px; /* Space above the card container */
  margin-bottom: 40px; /* Added space below the card container to prevent overlap with footer */
}

.btn {
  background-color: #527d9c; /* Primary button color */
  color: white; /* Button text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded button */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Pointer cursor on hover */
}

.btn:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
