.main-content {
  padding: 100px 20px;
  text-align: center;
  background: #f0e6d7; /* Original color */
}



.section-title {
  font-size: 2rem;
  margin-bottom: 10px;
}



.description {
  font-size: 1.2rem;
  color: #333; /* Original color */
}
